SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/realestate_leads?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
SERVER_PORT=8080

APP_BASE_URL=http://localhost:5173
ADMIN_SESSION_SECRET=change-this-admin-secret
USER_SESSION_SECRET=change-this-user-secret
SESSION_DURATION_DAYS=14

KAKAO_REST_API_KEY=
KAKAO_JS_KEY=

MAX_PHOTO_SIZE_MB=20
MAX_PHOTO_COUNT=10

S3_BUCKET=
S3_REGION=ap-northeast-2
S3_UPLOAD_PREFIX=leads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

FRONTEND_ORIGIN=http://localhost:5173
APP_CORS_ALLOWED_ORIGINS=http://localhost:5173
APP_COOKIE_SAME_SITE=Lax
APP_COOKIE_DOMAIN=
APP_COOKIE_SECURE=
APP_BOOTSTRAP_ADMIN_ENABLED=true
APP_BOOTSTRAP_ADMIN_EMAIL=admin@downy.local
APP_BOOTSTRAP_ADMIN_PASSWORD=admin
APP_BOOTSTRAP_ADMIN_NAME=admin
APP_BOOTSTRAP_ADMIN_ROLE=super
APP_PHONE_VERIFICATION_ENABLED=true
APP_PHONE_VERIFICATION_REGION=ap-northeast-2
APP_PHONE_VERIFICATION_SENDER_ID=
APP_PHONE_VERIFICATION_CODE_LENGTH=6
APP_PHONE_VERIFICATION_EXPIRES_MINUTES=5
APP_PHONE_VERIFICATION_REQUEST_COOLDOWN_SECONDS=60
